<!doctype html>
<html lang="es">
  <head>
    <title>Cartolas Gremios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/datatables.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script src="https://kit.fontawesome.com/3bd2032991.js"></script>
  </head>
  <body>
    <header>
      <div class="jumbotron jumbotron-fluid text-light bg-primary">
        <div class="container">
          <h1 class="display-4">Cartolas de Gremios de Hipódromo Chile</h1>
          <p class="lead">Descargue aquí su cartolas con movimientos</p>
        </div><!-- .container -->
      </div><!-- .jumbotron -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container">
          <a class="navbar-brand" href="#">Hipódromo Chile</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100">
              <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
                  Usuario
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#"><i class="fas fa-sliders-h"></i> Configuración</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                </div>
              </li> -->
            </ul>
            <span class="navbar-text" style="width: 150px">
              <a href="#"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
            </span>
          </div><!-- .collapse -->
        </div><!-- .container -->
      </nav>
    </header>
    
    <div role="main" class="container">
      <div class="row">
        <div class="col">
          <div class="table-row">

            <table id="tbl-cartolas" class="table table-bordered table-hover display">
              <thead class="thead-dark">
                <tr>
                  <th>Archivo</th>
                  <th>Fecha</th>
                  <th style="width: 80px;">Descargar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Row 1 Data 1</td>
                  <td>Row 1 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Prueba</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </t>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
                <tr>
                  <td>Row 2 Data 1</td>
                  <td>Row 2 Data 2</td>
                  <td class="text-center"><i class="fas fa-file-download"></i></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- main -->

    <footer class="footer mt-auto py-3 bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-3"><span class="text-light">Hipódromo Chile ®2019</span></div>
          <div class="col-6"><span class="text-light"><i class="fas map-marked-alt"></i> Dirección: Avda. Hipódromo Chile #1715A, Independencia, Santiago</span></div>
          <div class="col-3"><span class="text-light"><i class="fas fa-phone"></i> Fono: (02) 2270 9200</span></div>
        </div>
      </div>
    </footer>
    

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Additional Javascript -->
    <script type="text/javascript" src="js/datatables.min.js"></script>
    <script>
      $(document).ready( function (){
        $('#tbl-cartolas').DataTable({
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          },
          "columnDefs": [{
            "targets": 2,
            "orderable": false
          }]
        });
      });
    </script>

  </body>
</html>