{% extends "core/base.html" %}
{% load static %}

{% block title %}Cartolas de Gremios{% endblock %}

{% block additional_stylesheets %} 
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'core/plugins/datatables/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block body_classes %}sidebar-mini{% endblock %}

{% block content %}
<div class="row">
  <div class="col-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Cartolas de movimientos de {{ user.rut }}</h3>
      </div>
      <div class="card-body">
        <!-- /.card-header -->
        <table id="tbl-cartolas" class="table table-bordered table-hover display">
          <thead class="thead-dark">
            <tr>
              <th>Desde</th>
              <th>Hasta</th>
              <th>Fecha</th>
              <th style="width: 80px;">Descargar</th>
            </tr>
          </thead>
          <tbody>
          {% for cartola in cartola_list  %}
            <tr>
              <td>{{ cartola.desde.date }}</td>
              <td>{{ cartola.hasta.date }}</td>
              <td>{{ cartola.pub_date.date }}</td>
              <td class="text-center"><a name="" id=""  href="{{ cartola.pdf_file.url }}" role="button"><i class="fa fa-file"></i></a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div><!-- .col -->
</div><!-- .row -->
{% endblock content %}

{% block additional_javascripts %}
<!-- DataTables -->
<script type="text/javascript" src="{% static 'core/plugins/datatables/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'core/plugins/datatables/dataTables.bootstrap4.js' %}"></script>
<script>
  $(document).ready( function (){
    $('#tbl-cartolas').DataTable({
      "language": {
        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      },
      "columnDefs": [{
        "targets": 3,
        "orderable": false
      }]
    });
  });
</script>
{% endblock %}