{% load static solo_tags menu_generator %}
{% get_solo 'core.SiteConfiguration' as site_config %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="{% static 'core/img/logo/logo_hch2.png' %}" alt="Logo {{ site_config.site_name }}" class="brand-image rounded elevation-3 bg-light"
          style="opacity: .8">
    <span class="brand-text font-weight-light">{{ site_config.site_name }}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        {% comment %} <i class="fa fa-user img-circle elevation-2" alt="User Image"></i> {% endcomment %}
        {% comment %} <img src="{% static 'core/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image"> {% endcomment %}
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.get_full_name}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    {% get_menu "MAIN_SIDEBAR" as main_sidebar %}
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        {% for item in main_sidebar %}
        <li class="nav-item{% if item.submenu %} has-treeview{% endif %}">
          <a href="{{ item.url }}" class="nav-link">
            <i class="nav-icon fa {{ item.icon }}"></i>
            <p>
              {{ item.name }}
              {% if item.submenu %}<i class="right fa fa-angle-left"></i>{% endif %}
            </p>
          </a>
          {% if item.submenu %}
          <ul class="nav nav-treeview">
          {% for menu in item.submenu %}
            <li class="nav-item">
              <a href="{{ menu.url }}" class="nav-link">
                <i class="fa {{ menu.icon }} nav-icon"></i>
                <p>{{ menu.name }}</p>
              </a>
            </li>
          {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
        {% comment %} <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Starter Pages
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Active Page</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inactive Page</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Simple Link
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li> {% endcomment %}
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>