{% if form %}
  <!-- Display Form -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Quick Example</h3>
    </div>
    <!-- /.card-header -->
    <!-- Form Errors -->
    <!-- form start -->
    <form method="post">{% csrf_token %}
      <div class="card-body">
        {% if form.non_field_errors %}
          <ul class="errors">
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endif %}

