{% extends "core/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-10">

    <h1>Login</h1>
    <form method='POST'> {% csrf_token %}
      <div class="form-group row">
        <label for="id_rut"  class="col-sm-2 col-form-label">rut:</label>
        <div class="col-sm-4">
          {{ form.rut }}
        </div>
      </div>
      <div class="form-group row">
        <label for="id_password" class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-4">
          {{ form.password }}
        </div>
      </div>
      <button type='submit' class='btn btn-primary'>Ingresar</button>
    </form>

  </div><!-- .col-md-10 -->
</div><!-- .row -->


{% endblock %}