{% extends "core/base.html" %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock %}

{% block body_classes %}login-page{% endblock %} 

{% block additional_stylesheets %}<link rel="stylesheet" href="{% static 'core/plugins/iCheck/square/blue.css' %}">{% endblock %}

{% block content %}

<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Publicaciones Hípicas </b>Hipódromo Chile</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Ingrese sus datos para comenzar su sesión</p>

      <form method='POST'> {% csrf_token %}
        <div class="form-group has-feedback">
          <label for="id_rut"  class="col-form-label">Rut:</label>
          {{ form.rut }}
        </div>
        <div class="form-group has-feedback">
        <label for="id_password" class="col-form-label">Password:</label>
          {{ form.password }}
        </div>
        <div class="row">
          <div class="col-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Recuerdame
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-1">
        <a href="#">Olvidé mi contraseña</a>
      </p>
      <p class="mb-1">
        <a href="#">Regístrarse</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->






{% endblock %}

{% block additional_javascripts %}
<script src="{% static 'core/plugins/iCheck/icheck.min.js' %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass   : 'iradio_square-blue',
      increaseArea : '20%' // optional
    })
  })
</script>
{% endblock %}