{% extends "core/base.html" %}
{% load static %}
{% block title %}Cartolas de Gremios{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="table-row">

      <table id="tbl-cartolas" class="table table-bordered table-hover display">
        <thead class="thead-dark">
          <tr>
            <th>Archivo</th>
            <th>Fecha</th>
            <th style="width: 80px;">Descargar</th>
          </tr>
        </thead>
        <tbody>
        {% for cartola in cartola_list  %}
          <tr>
            <td>{{ cartola.title }}</td>
            <td>{{ cartula.pub_date }}</td>
            <td class="text-center"><a name="" id=""  href="{{ cartola.path }}" role="button"><i class="fas fa-file-download"></i></a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div><!-- .col -->
</div><!-- .row -->
{% endblock content %}

{% block additional_javascript %}
<script type="text/javascript" src="{% static 'core/js/datatables.min.js' %}"></script>
<script>
  $(document).ready( function (){
    $('#tbl-cartolas').DataTable({
      "language": {
        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      },
      "columnDefs": [{
        "targets": 2,
        "orderable": false
      }]
    });
  });
</script>
{% endblock additional_javascript %}