{% extends 'core/base.html' %}
{% load form_snippets %}

{% block content_header %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Cambiar contraseña</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active"><a href="#">cambiar contraseña</a></li>
          {% comment %} <li class="breadcrumb-item active">Starter Page</li> {% endcomment %}
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <form method="post">{% csrf_token %}
      {{form}}
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}